.container {
  border: 1px red solid;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgound-color);
}
.container p {
  color: var(--text-color);
  font-size: var(--mobile-sub-heading);
  font-weight: var(--smaller-bold);
  user-select: none;
}
p span {
  color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .container {
    height: 5rem;
    padding: 0 1rem;
  }
  .container p {
    font-size: var(--paragragh);
    text-align: center;
  }
}
