* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

* a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

body {
  background-color: whitesmoke;
}
