:root {
  --primary-color: #4945ff;
  --secondary-color: #6173ff;
  --tertiary-color: #26baa4;
  --text-color: #333;
  --backgound-color: #d8dfe3;
  --main-heading: 2rem;
  --sub-heading: 1.5rem;
  --paragraph: 1rem;
  --mobile-heading: 1.4rem;
  --mobile-sub-heading: 1.1rem;
  --mobile-paragraph: 0.9rem;
  --most-bold: 700;
  --more-bold: 600;
  --smaller-bold: 500;
  --light-bold: 400;
  --light-bold: 300;
}
